/* fill */
#title{
  background-color: #eae5e1;

}
.container-fluid{
  /* padding: 3% 15% 7%; */
}
.justTitle{
  color: #000;
}
.odam{
  margin-top: 0;
}
.animated-btn{
border-radius: 22.5px;
/* display: inline-block; */
text-align: center;
background: #E88956;
position: relative;
z-index: 2:
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Lato"
  color: #000;
}
h1{
  font-family: "Lato";
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}
h2{
  font-family: "Lato";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Lato";
  font-weight: 900;
  font-size: 1.5rem;
}
em{
  font-family: "Lato";
  font-size: 1.5rem;
}

/* Navigation Bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
  text-align: right;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
}
.nav-link:hover{
  text-decoration: underline;
}
.titleLogo{
  padding-left: 10%;
  font-size: 2rem;
  color: #000;
}
.justTitle{
  letter-spacing: 4px;
  font-size: 4rem;
  color: #000;
}
/* Title Image */
.title-image{
  width: 170%;
margin-left: -10%;
z-index: 1;
}

.moto{
  text-align: center;
}
/* Animated Buttton */
/* .animated-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    background: #b3a29a;
    position: relative;
} */
/* .animated-btn{
  background-color: #ddd;
border: none;
color: black;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 16px;
} */
.animated-btn::before, .animated-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 22.5px;
    background: rgba(232, 137, 86, 0.8);
    animation: ripple-1 2s infinite ease-in-out;
    z-index: 0;
}

.animated-btn::after {
    background: rgba(232, 137, 86, 0.6);
    animation: ripple-2 2s infinite ease-in-out;
    animation-delay: 0.5s;
    z-index: 0;
}

@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}



/* Features Part */
.icon{
  text-align: center;
  color: #b3a29a;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #2e1b11;
}

.feature-explain{
  /* text-align:center; */
  color: #8f8f8f;
}
#features{
  padding: 10% 25%;
  background-color: #fff;
  position:relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}
/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #eae5e1;
  color: #000;
}
.testimonial-image{
 width: 15%;
 border-radius: 10%;
 margin: 20 px;
}
.carousel-item{
 padding: 13% 15% 7%;
}
.testimonial-text{
  font-size: 2rem;
}
#services{
  background-color: #b4a49c;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  position: absolute;
  width: 100%;
}
/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* cta */

#cta{
  background-color: #b3a29a;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}
.cta-heading{
  font-family: "Lato";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3rem;
}
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;;
}
/* Extras */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
